body{
	max-width: 100%;
	background-color: white;

}

.extrabody{
	max-width: 100%;
	background-color: black;
}


.kader{
	width: 100%;
}

.header{
	width: 100%;
	height:50em;
	background-color: #F0F8FF;
	border-bottom: 0.5em solid black;
	clear: both;
}

.header2{
	width: 100%;
	height:50em;
	background-image: url(foto2.jpg);
	border-bottom: 0.5em solid black;
	clear: both;
	display: block;
}

.kaderportfolio{
	width: 70%;
	border: none;
	background-color: rgba(255,255,255,0.7);
	border-radius: 2em;
	margin-left: 15%;
	margin-top: 6%;
	position: absolute;
}


.fotoportfolio1{
	width: 50%;
	margin: 4% auto 4% 25%;
}
.fotoportfolio2{
	width: 45%;
	margin: 4% auto 4% 25%;
}

.fotoportfolio3{
	width: 55%;
	margin: 4% auto 4% 23%;
}


.slideshow{
	border: 3px solid black;
	width: 10%;
	float: right;
	clear: both;
	border-radius: 50px;
	background-color: rgba(255,255,255,0.7);
	font-family: 'Lobster', cursive;
	clear: both;
	font-size: 2em;
	cursor: pointer;
	margin-top: 20%;
	margin-right: 2%;
	position: relative;
	display: inline;
}

.kaderaboutme{
	width: 70%;
	border: none;
	background-color: rgba(255,255,255,0.7);
	border-radius: 2em;
	margin-left: 15%;
	margin-top: 6%;
	position: absolute;
}

li{
	display: inline;
	font-size: 3em;
	margin-left: 4%;
	margin-right: 4%;
}

a{
	color: white;
	text-decoration: none;
	font-family: 'Lobster', cursive;
	clear: both;



}

a:hover{
	text-decoration: underline;
}

.nav{
	text-align: center;
	margin: 3% 0 0 0;
	width: 100%;
}

.cr{
	font-family: helvetica cursive;
	margin-top: -0.5%;
}

.p{
	margin-top: 5%;
	margin-bottom: 5%;
}

.text{
	font-family: 'Lobster', cursive;
	text-align: center;
	margin: 4% 0 4% 40%;
	font-size: 1.2em;
	
}

.foto1{
	width: 100%;
	height: 800px;


}

.fotoaboutme{
	position: absolute;
	color: solid;
	width: 35%;
	margin-top: -44%;
	margin-left: 5%;
	

}

.klik{
	max-width: 8.78em;
	max-height: 0.7em;
	padding: 4em;
	background-image: url(logo4.png);
	margin: 0.5em auto auto auto;
}

.clickfm {
	border: 3px solid black;
	width: 8em;
	height: 3em;
	margin-top: -2.5em;
	margin-left: -1.1em;
	border-radius: 50px;
	background-color: white;
	font-family: 'Lobster', cursive;
	clear: both;
	font-size: 1.5em;
	cursor: pointer;
}

.fb{
	max-width: 7em;
	margin-top: -2.5em;
	float: right;
	clear: both;
	margin-right: 1em;
}

.instagram{
	max-width: 7em;
	margin-top: -2.5em;
	float: right;
	clear: both;
	margin-right: 10em;
}

.ap{
	color: red;
}
.ontzichtbaar{
	display: none;
}


@media screen and (max-width: 900px) {
.text{
	text-align: center;
	margin: 4% 0 4% 40%;
	font-size: 0.8em;
	
}
    }


